@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.indivproj {
    @include flex(column, center, center);

    &_header {
        @include flex(column, center, center);

        &--hero {
            @include flex(row, center, center);
            width: 100%;
        }

        &--title {
            @include main-font(18px, 500, normal, );
            @include flex(row, center, center);
            color: $portfolio-color--white;
            position: absolute;
            translate: 0px 20px;
        }

        &--text {
            @include sub-font(12px, 500, normal);
            @include flex(row, center, center);
            color: $portfolio-color--pink;
            position: absolute;
            translate: 0px -8px;
        }
    }

    &_desc {
        @include flex(column, center, center);
        margin: 40px 12px 24px 12px;

        &--title {
            @include sub-font(16px, 600, normal);
            margin: 0px 0px 12px 0px;
            text-transform: uppercase
        }

        &--text {
            @include sub-font(12px, 500, 3);
        }
    }

    &_services {
        @include flex(column, center, center);
        margin: 0px 8px 12px 8px;
        width: 100%;

        &--title {
            @include sub-font(16px, 600, normal);
            margin: 0px 0px 12px 0px;
            text-transform: uppercase
        }

        &--group {
            @include flex(row, center, center);
            flex-wrap: wrap;
            padding: 8px 0px;
            width: 100%;
        }

        &--pill {
            @include sub-font(12px, 600, normal);
            background-color: $portfolio-color--pink;
            margin: 4px;
            padding: 8px 12px;
            border-radius: 50px;
        }
    }

    &_collage {
        @include flex(column, center, center);
        margin: 8px 0px 0px 0px;
        padding: 12px 0px;
        background-color: $portfolio-color--white;

        &--img {
            width: 100%;
            background-color: $portfolio-color--grey;
            margin: 8px 0px;
        }
    }

    &_contact {
        @include flex(column, center, center);
        margin: 0px;
        padding: 16px;
        width: 100%;
        background-color: $portfolio-color--grey;

        &--group {
            @include flex(column, center, center);
            text-align: center;
            margin: 16px 0px;
        }

        &--title {
            @include sub-font(16px, 600, normal);
            margin: 0px 0px 12px 0px;
            text-transform: uppercase;
            width: 100%;
        }

        &--text {
            @include sub-font(12px, 500, 2.5);
            width: 75%;
            margin: 0px 0px 8px 0px;
        }

        &--btn {
            @include sub-font(16px, 600, normal);
            background-color: red;
            @include btn($portfolio-color--black, $portfolio-color--white, $portfolio-color--black, );
            border-radius: 4px;
            width: 40%;
            padding: 8px 0px;
            margin: 8px 0px 0px 0px;
            transition: ease 500ms;

            &:active {
                background-color: $portfolio-color--black;
                color: $portfolio-color--white;
            }
        }
    }

    &_btn {

        &--last,
        &--next {
            @include flex(row, space-evenly, center);
            @include sub-font(16px, 600, normal);
            background-color: $portfolio-color--white;
            margin: 16px 0px;
            padding: 8px 0px;
            border-radius: 12px;
            width: 180px;
        }

        &--next>.indivproj_btn--arrow {
            transform: rotate(180deg);
        }

        &--arrow {
            width: 16px;
        }
    }

}

#IndivProj--btn {
    background-color: $portfolio-color--white;
    width: 144px;
    height: 50px;
}