@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.stacktag {
    @include sub-font(12px, 600, normal);
    background-color: $portfolio-color--pink;
    margin: 4px;
    padding: 6px 8px;
    border-radius: 50px;
    transition: ease-in-out .3s;

    &--title {
        @include sub-font(12px, 600, none);
        text-align: center;
        line-height: normal;
    }
}