@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.btn {
    @include btn($portfolio-color--black, transparent, $portfolio-color--black);
    @include sub-font(12px, 600, 14px);
    @include flex(row, center, center);
    box-shadow: 0px 6px 23px -4px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: .5px;
    min-width: 64px;
    min-height: 35px;
    padding: 0px 8px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-out .2s;

    @include md {
        border-radius: 8px;
        padding: 8px 16px;
    }

    &-text {
        @include sub-font(12px, 600, 16px);
        color: $portfolio-color--black;

        @include md {
            @include sub-font(24px, 600, 30px);
        }
    }

    &:hover {
        @include btn($portfolio-color--white, $portfolio-color--black, $portfolio-color--black);
        box-shadow: 0px 6px 23px -4px rgba(0, 0, 0, 0.18);

        @include md {
            scale: 1.015;
            animation: shake ease .4s infinite;
        }

        &>.btn-text {
            color: $portfolio-color--white;
        }
    }
}

#btn--active {
    @include btn($portfolio-color--white, $portfolio-color--blue, $portfolio-color--blue);
    animation: none;
    scale: none;

    &:active {

        @include btn($portfolio-color--white, $portfolio-color--navy, $portfolio-color--navy);
    }

    & span {
        color: $portfolio-color--white;
    }
}