@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.hero {
    @include flex(row, center, center);
    background-color: $portfolio-color--pink;
    height: 270px;
    width: 100%;
    overflow: hidden;
    position: relative;

    @include md {
        height: 750px;
    }

    @include lg {
        height: 900px;
    }

    &__sec {
        @include flex(row, center, center);

        @include md {
            width: 100%;
        }
    }

    &__info {
        @include flex(column, center, center);
        margin-top: 16px;

        &:first-of-type {
            width: 100%;
            z-index: 2;
            position: absolute;

            @include md {
                width: 47%;
                margin: 0;
            }
        }
    }

    &__text {
        text-align: center;
        margin: 16px 0px;
    }

    &__title {
        @include main-font(24px, 400, none);
        margin: 16px 0px;

        @include md {
            @include main-font(40px, 400, none);
            margin: 0px 0px;
        }

        @include lg {
            @include main-font(48px, 400, none);
            margin: 16px 0px;
        }
    }

    &__subtitle {
        @include main-font(14px, 400, 16px);

        @include md {
            @include main-font(20px, 400, 32px);
        }

        @include lg {
            @include main-font(24px, 400, 32px);
        }
    }

    &__desktop {
        &--btn {
            @include md {
                margin: 16px;
            }
        }
    }

    &__mobile {

        &--btn,
        &--bg {
            display: flex;

            @include md {
                display: none;
            }
        }

        &--bg {
            width: 100%;
            @include flex(column, center, center);

            @include md {
                display: none;
            }
        }

        &--img {

            &:first-of-type {
                width: 100px;
                left: -50px;
                top: 10px;
                transform: rotate(-15deg);
                position: absolute;
                justify-self: flex-start;
                align-self: flex-start;
                animation: floatDown ease-in-out infinite 3s;
            }

            &:last-of-type {
                width: 140px;
                right: -80px;
                bottom: -32px;
                transform: rotate(15deg);
                position: absolute;
                justify-self: flex-end;
                align-self: flex-end;
                animation: floatUp ease-in-out infinite 3s;
            }
        }
    }

    &__model {
        display: none;

        @include md {
            @include flex(row, center, center);
            padding: 8px 0px;
            height: 350px;
            width: 80%;
        }
    }

}