@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.hero {
    @include flex(row, center, center);
    background: $portfolio-color--blue url('../../assets/images/hero-bg.png') center/100vw no-repeat;
    background-size: cover;
    height: 270px;
    width: 100%;
    overflow: hidden;
    position: relative;

    @include md {
        height: 700px;
    }

    @include lg {
        height: 800px;
    }

    &__cont {
        @include flex(row, center, center);

        @include md {
            width: 100%;
        }
    }


    &__sec {
        @include flex(row, center, center);

        @include md {
            width: 40%;
        }
    }

    &__info {
        @include flex(column, center, center);

        &:first-of-type {
            width: 100%;
            z-index: 2;
            position: absolute;

            @include md {
                width: 47%;
            }
        }
    }

    &__text {
        text-align: center;
        margin: 16px 0px;
    }

    &__title {
        @include main-font(24px, 400, none);
        margin: 16px 0px;

        @include md {
            @include main-font(40px, 400, none);
            margin: 0px 0px;
        }

        @include lg {
            @include main-font(48px, 400, none);
            margin: 16px 0px;
        }
    }

    &__subtitle {
        @include main-font(14px, 400, 16px);

        @include md {
            @include main-font(20px, 400, 32px);
        }

        @include lg {
            @include main-font(24px, 400, 32px);
        }
    }

    &__desktop {
        &--btn {
            @include md {
                margin: 16px;
            }
        }
    }

    &__mobile {

        &--btn {
            max-width: 250px;
            min-height: 40px;
            width: 50%;

            &>* {
                background-color: rgba($portfolio-color--white, 0.5);
            }
        }

        &--btn,
        &--bg {
            display: flex;
            flex-direction: column;

            @include md {
                display: none;
            }
        }

        &--bg {
            width: 100%;
            @include flex(column, center, center);
        }

        &--img {
            display: none;
            opacity: 50%;

            @include md {
                display: unset;
                pointer-events: none;

                &:first-of-type {
                    width: 150px;
                    left: 50px;
                    top: 120px;
                    transform: rotate(15deg);
                    position: absolute;
                    justify-self: flex-start;
                    align-self: flex-start;
                    animation: floatDown ease-in-out infinite 3s;
                }

                &:last-of-type {
                    width: 120px;
                    right: 100px;
                    bottom: 450px;
                    transform: rotate(-15deg);
                    position: absolute;
                    justify-self: flex-end;
                    align-self: flex-end;
                    animation: floatUp ease-in-out infinite 3s;
                }

                @include lg {
                    &:first-of-type {
                        width: 200px;
                        left: 50px;
                        top: 100px;
                        transform: rotate(15deg);
                        position: absolute;
                        justify-self: flex-start;
                        align-self: flex-start;
                        animation: floatDown ease-in-out infinite 3s;
                    }

                    &:last-of-type {
                        width: 150px;
                        right: 150px;
                        bottom: 450px;
                        transform: rotate(-15deg);
                        position: absolute;
                        justify-self: flex-end;
                        align-self: flex-end;
                        animation: floatUp ease-in-out infinite 3s;
                    }
                }
            }
        }
    }

    &__model {
        display: none;

        @include md {
            @include flex(row, center, center);
            padding: 8px 0px;
            height: 350px;
            width: 80%;
        }
    }
}