@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.footer {
    @include flex(column, center, center);
    background-color: $portfolio-color--black;
    height: 140px;
    width: 100%;
    z-index: 998;

    @include md {
        @include flex(row, center, center);
        height: 150px;
    }

    &__cont {
        @include flex(column, space-between, center);
        margin: 0px 8px;
        width: 100%;

        @include md {
            @include flex(row, space-between, center);
            width: 100%;
        }

        @include lg {
            width: 80%
        }
    }

    &__sec {
        @include flex(row, space-between, center);
        width: 95%;

        &:first-of-type {
            width: 50%;
            max-width: 200px;
        }

        @include md {
            @include flex(column, space-between, center);
            width: 58%;

            &:first-of-type {
                max-width: 500px;
            }
        }

        &--group {
            display: none;

            @include md {
                @include flex(column, space-between, center);
                width: 100%;
                text-align: center;
            }

            &>* {
                margin: 8px 0px;
            }
        }

        &--name {
            @include sub-font(18px, 600, 1.2);
            color: $portfolio-color--white;

            @include lg {
                @include sub-font(24px, 600, 1.2);
            }
        }

        &--text {
            @include sub-font(12px, 500, 1.2);
            color: $portfolio-color--white;

            @include lg {
                @include sub-font(16px, 500, 1.2);
            }
        }

        &--sitenav {
            display: none;

            @include md {
                @include flex(row, space-between, center);
                width: 100%;
                max-width: 350px;
                margin-bottom: 16px;
            }
        }

        &--link {
            color: $portfolio-color--white;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &--socials {
            color: $portfolio-color--white;
            @include flex(row, space-between, center);
            margin: 0;
            width: 100%;

            @include md {
                width: 50%;
                max-width: 200px;
            }
        }

        &--icon {
            width: 50px;
            margin: 0px 0px 4px 0px;

            @include md {
                display: none;
            }

            &-desktop {
                display: none;

                @include md {
                    display: unset;
                    width: 50px;
                    cursor: pointer;
                }
            }

        }
    }

    &__text {
        @include flex(row, center, center);
        @include sub-font(12px, 700, 16px);
        color: $portfolio-color--white;
        text-align: center;
        width: 100%;
        margin: 8px 0px;

        &:last-of-type {
            display: none
        }

        @include md {
            @include sub-font(16px, 700, 16px);

            &:last-of-type {
                display: unset;
                @include sub-font(12px, 500, 16px);
                color: $skeleton-color--gray
            }

            &--highlight {
                @include sub-font(12px, 500, 16px);
                color: $skeleton-color--gray;
                font-style: italic;

                &:hover {
                    text-decoration: underline;
                    color: $portfolio-color--pink
                }
            }
        }

    }
}