@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.indiv {
    @include flex(column, center, center);
    position: relative;
    margin: 16px;
    width: 90%;
    order: 6;
    cursor: pointer;
    transition: ease .6s;

    @include md {
        width: 40%;

        &:hover {
            scale: 1.02
        }
    }

    @include lg {
        width: 30%;
    }

    &__cont {
        @include flex(column, center, center);
    }

    &__header {
        @include flex(column, flex-end, center);
        background-color: $portfolio-color--blue;
        border-radius: 4px;
        overflow: hidden;

        @include md {
            border-radius: 8px;
        }

        &>.indiv__body {
            display: none;
        }

        &:hover {
            &>.indiv__body {
                @include md {
                    @include flex(column, center, center);
                    background-color: rgba(248, 248, 248, 0.78);
                    backdrop-filter: blur(8px);
                    border-radius: 4px;
                    text-align: start;
                    line-height: none;
                    font-weight: 600;
                    margin: 0;
                    padding: 16px 0px;
                    position: absolute;
                    width: 40%;
                    z-index: 2;

                    @include md {
                        width: 100%;
                    }

                    & h3 {
                        @include main-font(18px, 600, 1.5);
                        color: $portfolio-color--black;
                        width: 100%;
                    }

                    & p {
                        @include sub-font(16px, 500, 1.5);
                        color: $portfolio-color--black;
                        text-align: start;
                        width: 90%;
                    }
                }
            }

            @include md {
                &>img {
                    filter: blur(2.8px);
                    opacity: 50%;
                    scale: 0.96;
                }
            }
        }
    }

    &__img {
        background-color: $portfolio-color--pink;
        border-radius: 4px;
        min-width: 280px;
        width: 100%;
        min-height: 180px;
        object-fit: cover;
        transition: ease .8s;
    }

    &__body {
        @include flex(column, center, center);
        min-width: 240px;
        margin: 16px 0px;
        width: 90%;


        @include md {
            background-color: $portfolio-color--white;
            width: 80%;
            display: none;

        }
    }

    &__title {
        @include flex(column, center, center);
        @include main-font(20px, 600, 1.5);
        letter-spacing: 1px;
        color: $portfolio-color--white;
        min-width: 85%;

        &::after {
            content: '';
            background-color: $portfolio-color--pink;
            border-radius: 50%;
            margin: 4px 0px;
            width: 90%;
            height: 3px;
        }
    }

    &__desc {
        @include sub-font(14px, 500, 1.5);
        letter-spacing: .25px;
        color: $portfolio-color--white;
        min-width: 280px;
        width: 75%;
        padding: 8px;
        text-align: center;
    }

    &__modal {
        @include flex(column, center, center);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        transition: ease .5s;
        z-index: 9000;
        cursor: pointer;

        &--cont {
            @include flex(column, center, center);
            position: relative;
        }

        &--img {
            width: 95%;
            cursor: default;
            border-radius: 8px;

            @include md {
                width: 90%;
                max-height: 700px;
                border-radius: 16px;
            }

        }

        &--btns {
            @include flex(row, space-between, center);
            position: absolute;
            width: 85%;
            cursor: default;

            &-next,
            &-prev {
                background-color: rgb(255, 255, 255, 0.5);
                box-shadow: 0px 12px 45px -5px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(6px);
                height: 150px;
                width: 30px;
                padding: 6px;
                border-radius: 4px;
                cursor: pointer;

                @include md {
                    height: 300px;
                    width: 40px;

                    &:hover {
                        transform: translate(-8px, 0px);
                    }
                }

                @include lg {
                    height: 500px;
                    width: 50px;
                }
            }

            &-next {
                rotate: 180deg;
            }
        }

        &-open {
            overflow: hidden;
        }
    }
}