@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.contact {
    @include flex(column, center, center);
    background-color: $portfolio-color--white;
    width: 100%;
    padding: 16px 0px 48px 0px;

    @include md {
        padding: 24px 0px 60px 0px;
    }

    &__header {
        @include flex(column, center, center);
        background-color: $portfolio-color--white;
        width: 100%;
        padding: 8px 0px;

        & h4 {
            color: $portfolio-color--black;
        }

        @include md {
            @include flex(column, center, flex-start);
            background-color: transparent;
            padding: 16px 0px;
            width: 90%;
        }

        @include lg {
            width: 80%;
        }

        &--icon {
            width: 50px;
            margin: 0px 0px 4px 0px;

            @include md {
                display: none
            }
        }

        &--text {
            @include flex(column, center, center);
            @include sub-font(16px, 700, 20px);

            @include md {
                display: none
            }
        }
    }

    &__title {
        display: inline-block;
        @include sub-font(12px, 600, none);
        position: relative;
        text-align: center;

        width: 70%;

        &:nth-of-type(2) {
            margin-bottom: 8px;

            @include md {
                margin-bottom: 16px;
            }

            &::after {
                all: unset;
            }
        }

        &::after {
            content: '';
            @include flex(row, center, center);
            bottom: 0;
            background-color: $portfolio-color--pink;
            height: 3px;
            margin: 4px 0px;
            width: 100%;
            border-radius: 60px;
        }

        @include md {
            @include flex(row, center, center);
            @include sub-font(16px, 600, none);
            width: 100%;


            &::after {
                all: unset;
                content: '';
                position: absolute;
                bottom: 0;
                background-color: $portfolio-color--pink;
                height: 3px;
                width: 50%;
                border-radius: 60px;
            }
        }

        &--link {
            @include sub-font(12px, 600, none);
            display: inline-block;
            text-decoration: underline;
            font-style: italic;
            margin-left: 4px;

            @include md {
                @include sub-font(16px, 600, none);
                font-style: italic;

                &:hover {
                    color: $portfolio-color--pink;
                }
            }
        }
    }

    &__limit-msg {
        @include sub-font(10px, 600, none);
        color: red;
        padding-left: 8px;
    }

    &__form {
        @include flex(column, center, flex-start);
        width: 85%;
        margin: 16px 0px;

        @include md {
            width: 65%;
            margin: 0px;
        }

        @include lg {
            width: 35%;
        }
    }

    & textarea {
        @include sub-font(12px, 500, none);
        background-color: $portfolio-color--white;
        border: 2px solid $portfolio-color--black;
        border-radius: 2px;
        margin-bottom: 8px;
        padding: 4px 16px 4px 4px;
        min-width: 100%;
        height: 80px;
        z-index: 1000;
        resize: none;

        @include md {
            @include sub-font(12px, 500, none);
            height: 100px;
        }
    }

    &__label {
        @include sub-font(12px, 600, none);
        margin: 4px 0px 8px 0px;

        @include md {
            @include sub-font(16px, 600, none);
        }

        &--input {
            @include sub-font(12px, 500, none);
            background-color: $portfolio-color--white;
            border: 2px solid $portfolio-color--black;
            border-radius: 2px;
            margin-bottom: 8px;
            padding: 4px;
            width: 100%;
            z-index: 1000;
            resize: none;

            &:nth-of-type(1) {
                width: 65%;
            }

            &:nth-of-type(2) {
                width: 85%;
            }

            &:focus {
                outline: none !important;
                border: 2px solid $portfolio-color--pink;
                box-shadow: 0 0 10px rgba(233, 161, 139, 0.5);
                background-color: white;
            }

            @include md {
                @include sub-font(12px, 500, none);
            }
        }
    }

    &__btn {
        @include flex(column, center, center);
        line-height: normal;
        align-self: center;
        margin-top: 8px;
        width: 100%;
        transition: ease-out .2s;

        .contact__btn--submit,
        .contact__btn--resume {
            @include sub-font(12px, 600, none);
            box-shadow: 0px 6px 23px -4px rgba(0, 0, 0, 0.15);
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            letter-spacing: .5px;
            min-width: 64px;
            min-height: 35px;
            padding: 0px 8px;
            margin: 8px;
            border-radius: 4px;
            cursor: pointer;

            @include md {
                @include sub-font(24px, 600, none);
                border-radius: 8px;
                padding: 8px 16px;
                width: unset;
            }

            &:hover {
                @include btn($portfolio-color--white, $portfolio-color--black, $portfolio-color--black);
                box-shadow: unset;
            }
        }

        &--submit {
            @include btn($portfolio-color--white, $portfolio-color--blue, $portfolio-color--blue);
            width: 100%;

            &:disabled {
                @include btn($portfolio-color--white, $portfolio-color--black, $portfolio-color--black);
                cursor: default;
            }
        }

        &--resume {
            @include btn($portfolio-color--black, transparent, $portfolio-color--black);
            width: 85%;

            &:hover {
                @include btn($portfolio-color--white, $portfolio-color--black, $portfolio-color--black);
                box-shadow: 0px 6px 23px -4px rgba(0, 0, 0, 0.18);

                @include md {
                    scale: 1.015;
                    animation: shake ease .4s infinite;
                }
            }
        }
    }
}