@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.section-header {
    display: none;

    @include md {
        @include flex(row, flex-start, center);
        width: 100%;
    }

    &--title {
        @include main-font(32px, 500, 40px);
        color: $portfolio-color--pink;
        display: none;

        @include md {
            @include flex(column, center, flex-start);
            text-align: start;
        }
    }

    &--text {
        @include flex(column, center, center);
        @include sub-font(16px, 700, 20px);

        &::after {
            content: "";
            background-color: $portfolio-color--pink;
            border-radius: 4px;
            margin: 4px;
            width: 0px;
            height: 3px;
            transition: 1.5s ease-out 0.2s;
        }

        &.animation--underline::after {
            width: 80px;
            height: 3px;
        }

        @include md {
            @include flex(row, center, center);
            @include sub-font(32px, 700, 40px);

            &::after {
                display: none;
            }

            &::before {
                content: "";
                background-color: $portfolio-color--pink;
                border-radius: 2px;
                margin: 0px 8px;
                width: 3px;
                height: 0px;
                transition: .9s ease-out 0.2s;
            }

            &.animation--underline::before {
                width: 3px;
                height: 32px;
            }
        }
    }
}