@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.hero-btn {
    display: none;

    @include md {
        @include flex(row, space-between, center);
        width: 320px;
        padding: 16px;

        &--divider {
            background-color: $portfolio-color--white;
            width: 0px;
            height: 0px;
            border-radius: 60px;
            transition: ease-in-out .2s;
        }

        &:hover .hero-btn--divider {
            width: 3px;
            height: 24px;
            margin: -16px 0px;
        }

        &--opt {
            @include sub-font(24px, 600, 0.8);
            color: $portfolio-color--black;
            text-transform: uppercase;
            line-height: 0;
            padding: 2px 4px;
            position: relative;
            cursor: pointer;


            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 0%;
                margin: 24px 0px;
                transition: ease .45s;
            }

            &:first-of-type:hover {

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $portfolio-color--white;
                    height: 4px;
                    width: 100%;
                    border-radius: 2px;
                }

                &::after {
                    right: 0px;
                    top: -2px;

                }

                &::before {
                    right: 0;
                    bottom: 0px;
                }
            }

            &:last-of-type:hover {

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $portfolio-color--white;
                    height: 4px;
                    width: 100%;
                    border-radius: 2px;
                }

                &::after {
                    left: 0px;
                    top: -2px;
                }

                &::before {
                    left: 0;
                    bottom: 0px;
                }
            }
        }
    }


}