@use './mixins' as *;
@use './breakpoints' as *;
@use './typography' as *;
@use './breakpoints' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'INSERT FONT FAMILY', Courier, monospace;
    color: INSERT-COLOR;
}

$primary-color--pink: #d0b49f;
$primary-color--beige: #D0B49F;

$secondary-color--light-grey: #CECBC6;
$secondary-color--dark-grey: #8A817C;

$tirtiary-color--white: #F8F8F8;
$tirtiary-color--black: #1E1B19;