@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.aboutme {
    background-color: $portfolio-color--navy;
    height: 400px;
    width: 100%;

    & * {
        color: $portfolio-color--white;
    }

    @include md {
        height: 720px;
    }
}