@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.aboutme {
    @include flex(row, center, center);
    background-color: $portfolio-color--navy;
    height: 600px;
    width: 100%;
    padding: 24px 8px;
    overflow: hidden;

    & * {
        color: $portfolio-color--white;
    }

    @include md {
        padding: 60px 8px;
        height: 650px;
    }

    &__cont {
        @include flex(row, center, center);
        width: 100%;

        @include lg {
            width: 80%;
        }
    }


    &__body {
        @include flex(column, flex-start, center);
        height: 500px;

        @include md {
            width: 65%;
        }
    }

    &__header {
        @include flex(column, center, center);
        width: 100%;

        @include md {
            @include flex(row, flex-start, flex-start);
            width: 100%;
            margin-bottom: 32px;
        }

        &--title {
            @include main-font(32px, 500, 40px);
            display: none;

            @include md {
                @include flex(column, flex-start, flex-start);
                text-align: start;
            }
        }

        &--info {
            @include flex(column, center, center);

        }

        &--icon {
            width: 45px;
            margin: 0px 0px 8px 0px;

            @include md {
                display: none
            }
        }

        &--text {
            @include flex(column, center, center);
            @include sub-font(16px, 700, 20px);

            &::after {
                content: "";
                background-color: $portfolio-color--pink;
                border-radius: 4px;
                margin: 4px;
                width: 0px;
                height: 3px;
                transition: 1.5s ease-out 0.2s;
            }

            &.animation--underline::after {
                width: 80px;
                height: 3px;
            }

            @include md {
                @include flex(row, center, center);
                @include sub-font(32px, 700, 40px);

                &::after {
                    display: none;
                }

                &::before {
                    content: "";
                    background-color: $portfolio-color--pink;
                    border-radius: 2px;
                    margin: 0px 8px;
                    width: 3px;
                    height: 0px;
                    transition: .9s ease-out 0.2s;
                }

                &.animation--underline::before {
                    width: 3px;
                    height: 32px;
                }

            }

        }
    }

    &__mobile {

        &--body {
            @include flex(row, center, center);
            margin: 16px;

            @include md {
                display: none
            }
        }

        &--img {
            width: 65px;
            margin: 0px 8px;

            &:first-of-type {
                rotate: -15deg;
                animation: flipOutLeft ease 1 2s;
            }

            &:last-of-type {
                rotate: 15deg;
                animation: flipOutRight ease 1 2s;

            }
        }

        &--profile {
            width: 150px;
            border-radius: 100%;
            border: 4px solid $portfolio-color--white;
            z-index: 1;
        }

    }

    &__text {
        @include flex(column, center, center);
        text-align: center;
        width: 80%;

        @include md {
            width: 80%;
        }
    }

    &__desc {
        @include sub-font(16px, 500, 25px);
        margin: 8px 0px;

        @include md {
            @include sub-font(18px, 500, 30px);
            text-align: start;
        }
    }

    &__list {
        display: none;

        @include md {
            @include flex(column, center, center);
            padding: 8px 0px;
            width: 100%;
        }

        @include lg {
            @include flex(column, flex-start, flex-start);
        }

        &--item {
            @include sub-font(18px, 500, 1.5);
            margin: 2px 0px;
        }
    }

    &__desktop {
        display: none;

        @include md {
            display: flex;
        }

        &--profile {
            width: 300px;
            border: 4px solid $portfolio-color--white;
            border-radius: 4px;
            transition: ease .3s;

            @include lg {
                width: 360px;
            }
        }
    }
}