@use '../../styles/partials/globals.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.aboutme {
    @include flex(column, center, center);
    background-color: $portfolio-color--navy;
    width: 100%;
    padding: 60px 0px;
    overflow: hidden;

    & * {
        color: $portfolio-color--white;
    }

    @include md {
        padding: 60px 8px;
    }

    &__sec {
        width: 100%;

        @include md {
            width: 90%;
        }

        @include lg {
            width: 80%;
        }
    }

    &__cont {
        @include flex(row, center, flex-start);
        width: 100%;

        @include md {
            width: 100%;
        }

        @include lg {
            width: 90%;
            max-width: 1400px
        }
    }

    &__body {
        @include flex(column, center, center);
        height: 500px;

        @include md {
            @include flex(column, flex-start, center);
            width: 65%;
        }
    }

    &__header {
        @include flex(column, center, center);
        width: 100%;

        @include md {
            @include flex(row, flex-start, flex-start);
            width: 100%;
            margin-bottom: 32px;
        }

        &--title {
            @include main-font(32px, 500, 40px);
            display: none;

            @include md {
                display: none
            }
        }

        &--info {
            @include flex(column, center, center);
        }

        &--icon {
            width: 45px;
            margin: 0px 0px 8px 0px;

            @include md {
                display: none
            }
        }

        &--text {
            @include flex(column, center, center);
            @include sub-font(16px, 700, 20px);

            &::after {
                content: "";
                background-color: $portfolio-color--pink;
                border-radius: 4px;
                margin: 4px;
                width: 0px;
                height: 3px;
                transition: 1.5s ease-out 0.2s;
            }

            @include md {
                display: none
            }
        }
    }

    &__mobile {

        &--body {
            @include flex(row, center, center);
            margin: 16px;

            @include md {
                display: none
            }
        }

        &--profile {
            width: 150px;
            border-radius: 100%;
            border: 6px solid $portfolio-color--white;
            z-index: 100;
        }

    }

    &__text {
        @include flex(column, center, center);
        text-align: center;
        width: 80%;

        @include md {
            width: 80%;
        }
    }

    &__desc {
        @include sub-font(16px, 500, 25px);
        margin: 8px 0px;

        @include md {
            @include sub-font(18px, 500, 30px);
            text-align: start;
        }
    }

    &__list {
        display: none;

        @include md {
            @include flex(column, flex-start, flex-start);
            padding: 8px 0px;
            width: 100%;
        }

        &--item {
            @include sub-font(18px, 500, 1.5);
            text-align: left;
            margin: 2px 0px;
            opacity: 0;
            filter: blur(5px);
            translate: -100px 0px;
            transition: ease 0.4s 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.35s;
            }

            &:nth-of-type(2) {
                transition-delay: 0.40s;
            }

            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
        }

        &--link {
            color: $portfolio-color--white;
            text-decoration: underline;
            font-style: italic;
            cursor: pointer;

            &:hover {
                color: $portfolio-color--pink;
            }
        }
    }

    &__desktop {
        display: none;

        @include md {
            display: flex;
        }

        &--profile {
            width: 250px;
            border: 4px solid $portfolio-color--white;
            border-radius: 4px;
            transition: ease .3s;
            margin: 16px;

            @include lg {
                width: 360px;
                margin: 0px;
            }
        }
    }
}

.img-- {
    &brush {
        width: 12px;
        rotate: -40deg;
        translate: 26px -50px;
        transition: ease 1.5s;

        animation: brushAnimation ease 1.4s forwards;
        @include rotateLeft(38deg, brushAnimation);
    }

    &game {
        width: 28px;
        translate: -8px 50px;
        transition: ease;

        animation: gameAnimation ease 1.4s forwards;
        @include rotateLeft(-38deg, gameAnimation);
    }

    &book {
        width: 36px;
        transform: translate(30px, -48px);
        transition: ease;

        animation: bookAnimation ease 1.4s forwards;
        @include rotateRight(-32deg, bookAnimation);
    }


    &plane {
        width: 24px;
        transform: translate(20px, 60px);
        transition: ease;

        animation: planeAnimation ease 1.4s forwards;
        @include rotateRight(50deg, planeAnimation);
    }
}